.content.browse
	mixin subreddit(sub)
		a.subreddit.item(data-value=sub.key.toLowerCase(), data-name=sub.name, data-category=sub.category, data-created=sub.created, data-subscribers=sub.subscribers, data-title=sub.title, data-content=sub.description)
			| #{sub.name}
			i.icon.add
		| 
	.switcher.phone-hide
		i.icon.list
		span.page Browse Subreddits

	.ui.input.action.fluid.inverted.search-reddit
		input(type="text", placeholder="Search Reddit")
		.ui.button.icon.small.gold: i.icon.search

	.ui.fluid.secondary.inverted.vertical.menu.reddit.my
		.item
			i.share.alternate.icon.pop(title="Share Subreddit Playlist", data-variation="inverted")
			| My Subreddit Playlist
			.menu.selection
				p.item.description Select subreddits to add them to your subreddit playlist.

	.ui.input.action.fluid.inverted.custom-subreddit
		span.pre /r/
		input(type="text", placeholder="custom-subreddit")
		.ui.button.icon.small.gold: i.icon.reddit

	each category in _.groupBy(_.sortByAll(subs, "category"), "category")
		- var categoryName = _.first(category).category
		.ui.fluid.secondary.inverted.vertical.menu.reddit.subreddits(data-category=_.camelCase(categoryName))
			.item
				.item.subreddits-heading= categoryName
				.menu.selection
					each sub in _.sortByAll(category, "name")
						+subreddit(sub)
