.content.browse
	mixin subreddit(sub)
		a.subreddit.item(data-value=sub.key.toLowerCase(), data-name=sub.name, data-category=sub.category, data-created=sub.created, data-subscribers=sub.subscribers, data-title=sub.title, data-content=sub.description)
			| #{sub.name}
			.ui.right.floated.tiny.label= sub.subscribers.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
		| 
	.switcher.phone-hide
		i.icon.list
		span.page Browse Subreddits

	.ui.input.action.fluid.inverted.search-reddit
		input(type="text", placeholder="Search Reddit")
		.ui.button.icon.small.gold: i.icon.search

	.ui.fluid.secondary.inverted.vertical.menu.reddit.my
		.item
			i.share.alternate.icon.pop(title="Share Subreddit Playlist", data-variation="inverted")
			| My Subreddit Playlist
			.menu.selection
				p.item.description Select subreddits to add them to your subreddit playlist.
				
	.ui.input.action.fluid.inverted.custom-subreddit
		input(type="text", placeholder="Custom Subreddit")
		.ui.button.icon.small.gold: i.icon.add

	.ui.fluid.secondary.inverted.vertical.menu.reddit.subreddits(data-category="subreddits")
		.item
			| Subreddit
			.ui.right.floated.label Subscribers
			.menu.selection
				each sub in _.sortByAll(subs, "subscribers").reverse()
					+subreddit(sub)
